* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    width: 100%;
    height: 10vh;
    background-color: #d3d3d3;
}

main {
    width: 100%;
    height: 90vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#left {
    width: 25%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.son1 {
    width: 100%;
    height: 64%;
    background-color: #d3d3d3;
}
.son2 {
    width: 100%;
    height: 20%;
    background-color: #d3d3d3;
}
.son3 {
    width: 100%;
    height: 10%;
    background-color: #d3d3d3;
}

#right {
    width: 73%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upper {
    width: 100%;
    height: 86%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

 }

.sonR1 {
    width: 31%;
    height: 28%;
    background-color: #d3d3d3;
}
.sonR2 {
    width: 31%;
    height: 28%;
    background-color: #d3d3d3;
}
.sonR3 {
    width: 31%;
    height: 28%;
    background-color: #d3d3d3;
}
.sonR4 {
    width: 31%;
    height: 28%;
    background-color: #d3d3d3;
}
.sonR5 {
    width: 31%;
    height: 28%;
    background-color: #d3d3d3;
}
.sonR6 {
    width: 31%;
    height: 28%;
    background-color: #d3d3d3;
}
.sonR7 {
    width: 31%;
    height: 28%;
    background-color: #d3d3d3;
}
.sonR8 {
    width: 31%;
    height: 28%;
    background-color: #d3d3d3;
}
.sonR9 {
    width: 31%;
    height: 28%;
    background-color: #d3d3d3;
}

.lower {
    width: 100%;
    height: 10%;
    background-color: #d3d3d3;
}


