* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    width: 100%;
    height: 5vh;
    background-color: #d3d3d3;
}

main {
    width: 100%;
    height: 95vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upper {
    width: 100%;
    height: 35%;
    background-color: #d3d3d3;
}

#lower {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.left {
    width: 25%;
    height: 100%;
    background-color: #d3d3d3;
}

.right {
    width: 73%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upper2 {
    width: 100%;
    height: 71%;
    background-color: #d3d3d3;
}

.lower2 {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
}

.son {
    width: 49%;
    height: 100%;
    background-color: #d3d3d3;
}




footer {
    width: 100%;
    height: 10%;
    background-color: #d3d3d3;
}
